.Menu {
    box-sizing: border-box;
    float: right;
    padding-top: 53px;

}

.Menu ul li {
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
    font-family: Tahoma, sans-serif;
    font-size: 14px;
}

.Menu ul li a {
    text-decoration: none;
    color: #9e9e9e;
    padding-bottom: 15px;
}

.Menu ul li a:active,
.Menu ul li a:focus,
.Menu ul li a:hover,
.Menu ul li a:visited {
    border-bottom: 2px solid #e2bb1f;
    color: #e2bb1f;
}

@media only screen and (min-width: 768px) {
    .Menu {
        box-sizing: border-box;
        width: 100%;
        display: flex;
        padding: 0;
    }
    
    .Menu ul li {
        padding: 0 5px;
        font-size: 12px;
    }
    
    .Menu ul li a {
        padding-bottom: 12px;
    }

    .Menu ul li a:active,
    .Menu ul li a:focus,
    .Menu ul li a:hover,
    .Menu ul li a:visited {
        display: none;
    }
} 

@media only screen and (min-width: 600px) {
    .Menu {
        width: 100%;
        display: block;
        padding: 0;
        margin: 0 auto;
    }

    .Menu ul li {
        padding: 5px;
        font-size: 12px;
    }

}