.RowOne {
    width: 100%;
    clear: both;
    text-align: center;
}

.RowOne .RowPic {
    display: inline-block;
    padding-left: 5px;
    position: relative;

}

.NoDisplay {
    display: none;
}

.active {
    position: absolute;
    top: 0;
    left: 0px;
    background-color: #a3b69e;
    opacity: 0.6;
    width: 500px;
    height: 374px;
    z-index: 1;
    color: #ffffff;
    font-family: 'Tahoma', sans-serif;
    box-sizing: border-box;
}

.active .ActiveTitle {
   margin: 260px 0 15px;
}

.active .AwesomeRight {
    display: flex; 
    float: right;
    margin: 10px;
}

.active .Awesome {
    padding: 5px;
    background-color: #1e1e1e;
    border: 2px solid #1e1e1e;
    border-radius: 50%;
    z-index: 9999;
    opacity: 1;
    margin-left: 5px;
}

.active h2 {
    font-size: 35px;
}

.active p {
    font-size: 14px;
    padding: 10px;
}

@media only screen and (min-width: 768px) {
    .RowOne {
        width: 100%;
    } 
} 

@media only screen and (min-width: 600px) {
    .RowOne {
        width: 100%;
        margin-top: 10px;
 
    }
    
    .RowOne .RowPic {
        display: block;
        margin-top: 10px;
    }
} 