.SocialIcon {
    box-sizing: border-box;
    display: block;
    float: left;
    margin: 19px auto;
}

.SocialIcon ul {
    padding: 0;
}

.SocialIcon ul li {
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
}

.SocialIcon ul li a {
    text-decoration: none;
    color: #ffffff;
   
}

.SocialIcon ul li a:active,
.SocialIcon ul li a:hover,
.SocialIcon ul li a:visited {
    background: #4e8234;
    border-radius: 50%;
    border: 6px solid #4e8234;
}

@media only screen and (min-width: 768px) {
    .SocialIcon {
        float: none;
        margin-left: 50px;   
    }
    
    .SocialIcon ul li {
        padding: 0 6px;
    }
} 

@media only screen and (min-width: 600px) {
    .SocialIcon {
        display: none;
    }
}