.Title {
    margin: 0 auto;
    text-align: center;
    width: 90%;
    box-sizing: border-box;
    padding-bottom: 20px;
    border-bottom: 1px solid #b7b7b7;
}

.Title p {
    margin: 0 auto 20px;
    font-family: Boton, sans-serif;
    font-size: 40px;
    display: block;
    box-sizing: border-box;
}

.Title .Title-second{
    font-size: 50px;
    font-family: Helvetica, sans-serif;
}

@media only screen and (min-width: 768px) {
    .Title {
        width: 100%;
        padding-bottom: 10px;
    }
    
    .Title p {
        font-size: 30px;
 
    }
    
    .Title .Title-second{
        font-size: 25px;
    }
} 

@media only screen and (min-width: 600px) {
    .Title {
        width: 100%;
        padding-bottom: 5px;
    }
    
    .Title p {
        font-size: 15px;
        margin-bottom: 5px;
    }
    
    .Title .Title-second{
        font-size: 15px;
    }
} 

