.Filter {
    width: 90%;
    margin: 20px auto 0;
    display: block;

}

.Filter .NavFilter {
    float: left;
 
}

.Filter .NavFilter ul li {
    text-decoration: none;
    display: inline-block;
    padding: 0 10px;
    font-family: Tahoma, sans-serif;
    font-size: 15px;
}

.Filter .NavFilter ul li a {
    text-decoration: none;
    color: #000000;
    padding-bottom: 13px;
}

.Filter .NavFilter ul li a:active,
.Filter .NavFilter ul li a:hover {
    padding: 10px;
    background-color: #fed11e;
}

.Filter .NavButtons {
    display: block;
    float: right;


}


.Filter .NavButtons .Block .Pic {
    display: inline-block;
    cursor: pointer; 
}

.Filter .NavButtons .Block .Pic .Bar1,
.Filter .NavButtons .Block .Pic .Bar2,
.Filter .NavButtons .Block .Pic .Bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s
}

@media only screen and (min-width: 600px) {
    .Filter {
        margin-bottom: 10px;
    }

    .Filter .NavFilter{
        margin: 5px 10px 10px;
    }

    .Filter .NavButtons {
        display: none;
    }
} 