.Logo {
    float: left;
    font-family: Helvetica, "Discognate Light", sans-serif;
    font-size: 12px;
    font-weight: 100;
    color: #ffd21e;

}

.Logo .Lowend {
    font-size: 55px;
    font-family: "Tahoma";
}

.Logo .Lowend span {
    color: #ffffff;

}

.Logo p {
    text-align: center;

}

@media only screen and (min-width: 600px) {
    .Logo {
        float: none;
        display: block; 
    }
}
