.Clients {
    width: 100%;
    margin: 0 auto;
}

.Clients .ClientsLogo {
    display: inline-block;
    margin-right: 10px;
    padding: 50px;
    vertical-align: middle; 
}

@media only screen and (min-width: 1200px) {
    .Clients {
        width: 80%;
        
    }

    .Clients .ClientsLogo {
        margin: 0 auto;
        padding: 5px;
        
    }
}

@media only screen and (min-width: 992px) {
    .Clients {
        width: 100%;
        display: flex;
        
    }

    .Clients .ClientsLogo {
        margin: 0 auto;
        padding: 5px;  
    }
}

@media only screen and (min-width: 768px) {
    .Clients {
        width: 100%;   
    }

    .Clients .ClientsLogo {
        margin: 0 auto;
        padding: 5px;
        display: block;
        text-align: center;
    }
} 

@media only screen and (min-width: 600px) {
    .Clients {
        width: 50%;
    }

    .Clients .ClientsLogo {
        margin: 0 auto;
        padding: 5px;
        display: block;
        text-align: center;
    }

} 