.Shape {
    width: 83%;
    margin: 0 auto;
    padding: 20px 0;
}

.Shape .Start {
    display: inline-block;
    width: 33%;
}

.Shape .Start {
    text-align: center;
}

.Shape .Start h2 {
    color: #ffffff;
    padding: 0 4px;
    font-family: 'Myriad Pro', sans-serif;
    font-size: 16px;

}

.Shape .Start h2 span {
    color: #f2c83d;
    padding-left: 3px;
}

.Shape .Start .Line {
    margin-bottom: 4px;
    border-bottom: 2px solid #f2c83d;
}

@media only screen and (min-width: 768px) {
    .Shape {
        width: 90%;
        padding: 10px 0;
    }
  
    .Shape .Start h2 {
        padding: 0 4px;
        font-size: 12px;
    }
} 

@media only screen and (min-width: 600px) {
    .Shape {
        width: 100%;
        padding: 5px 0;
    }
  
    .Shape .Start h2 {
        padding: 0 4px;
        font-size: 10px;
    }

   .Shape .Line {
        display: none;
    }
} 