.App {
    width: 100%;
    margin: 0 auto;
}

.Yellow {
    background-color: #ffd21e;
    height: 2px;
    width: 100%;
}


/* @font-face {
    font-family: "Boton";
    font-style: normal;
    font-weight: 400;
    src: 
        local('Boton'),
        local('Boton-Regular'),
        url(./assets/font/boton/boton-regular.ttf);
}

@font-face {
    font-family: "Discognate";
    font-style: normal;
    font-weight: 700;
    src: 
        local('Discognate'),
        local('Discognate'),
        url(./assets/font/discognate/disco__.ttf) format("ttf");
}

@font-face {
    font-family: "Discognate Light";
    font-style: normal;
    font-weight: 100;
    src: 
        local('Discognate Light'),
        local('Discognate Light'),
        url(./assets/font/discognate/discol__.ttf) format("ttf");
} */