.Header {
    width: 100%;
    height: 86px;
    background-color: #282727;
    color: #ccc;
    z-index: 999;
}

.Header .MainHeader {
    width: 90%;
    display: block;
    margin: 0 auto;
}

.SocialNetworkingMenu {
    box-sizing: border-box;
    float: right;

}

@media only screen and (min-width: 768px) {
    .Header{
        height: 80px;
    }

    .SocialNetworkingMenu {
        float: right;
        display: inline-block;
    }
} 

@media only screen and (min-width: 600px) {
    .Header {
        width: 100%;
        height: 100px;
    }

    .SocialNetworkingMenu {
        width: 100%;
        float: none;
        display: block;

    }
}